body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.whole-selected-book {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* All Books Component */
.all-book-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 1rem;
  background-color: #a7c6da;
  padding-bottom: 1rem;
}

.card-img-top {
  height: 200px;
  width: 100px;
}

.cart-button-img {
  height: 25px;
  width: 25px;
}

.all-books-header {
  text-align: center;
  border-bottom: solid;
  font-family: 'Times New Roman', Times, serif;
}

/* Navbar */
.bookazon-title {
  color: cadetblue;
  padding-top: 20px;
  display: flex;
  padding-left: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.login-button {
  color: black;
}

.signup-button {
  color: black;
}

.logout-button {
  color: black;
}

.home-button {
  color: black;
}

.header-container {
  /* background-image: url('https://bhf-cdn.azureedge.net/bhf-blob-prod/0008981_willow-cream-faux-parchment-texture_600.jpeg'); */
  background-color: #fcdebe;
}

/* Selected Book View */

.selected-book-quote {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #a7c6da;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.book-author {
  font-size: 15pt;
}

.selected-book-container {
  marign-top: 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  flex: 75%;
}

.book-title {
  font-size: 20pt;
}

#review-title {
  margin-top: 10px;
  flex: 100%;
}

.selected-book-card {
  background-color: #fcdebe;
  padding-bottom: 10px;
}

.no-empty-fields {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: #ada8b6;
  justify-contents: center;
}

.selected-book-img {
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
}

.book-img-cart-checkout {
  height: 150px;
  width: 175px;
}

.review-container {
  background-color: #ffe5b4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-header {
  margin-top: 10px;
  font-size: 20pt;
}

h1.review-header strong {
  font-size: 20pt;
}

h2.reviews-header {
  font-size: 15pt;
}

.review-container * {
  margin: 5px;
  font-size: 15pt;
}

.review-card {
  padding: 0 10% 0 3%;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews-header {
  font-size: 20pt;
}

.review-list {
  margin: 10px;
}

.review-list * {
  margin: 5px;
}

.successful-purchase-container {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: cadetblue;
}

.order-history-greeting {
  margin-left: 5%;
}

.filter-order-history {
  margin-left: 5%;
}

.past-order-container .card .card-body {
  display: flex;
  flex-direction: row;
}

.past-order-book-img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.past-order-details {
  flex: 2;
}

.past-order-books-list {
  display: flex;
  flex: 3;
}
.header-container {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

.all-books-navbar {
  /* background-image: url('https://bhf-cdn.azureedge.net/bhf-blob-prod/0008981_willow-cream-faux-parchment-texture_600.jpeg'); */
  background-color: #fcdebe;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.all-books-navbar * {
  display: flex;
  margin: 5px;
}

#search-bar {
  width: 300px;
}

.search-buttons {
  display: flex;
  justify-content: center;
  background-color: #a7c6da;
  padding-top: 20px;
}
.search-buttons * {
  margin: 8px;
}

.header-buttons {
  display: flex;
  width: 100%;
  justify-content: start;
}

.header-buttons * {
  margin-right: 10px;
  margin-left: 10px;
}

.header-container-right {
  padding-top: 20px;
  display: flex;
}
.header-container-right * {
  margin-bottom: 0px;
}

.whole-selected-info {
  flex: 66%;
}

.filter {
  background-color: #ada8b6;
  color: #fffbfe;
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.filter:focus {
  outline: none !important;
  background-color: #19297c;
}

.filter * {
  background-color: #ada8b6;
  color: black;
  border: 0px;
}
