body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* All Books Component */
.all-book-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 5rem;
  background-color: cadetblue;
}

.card-img-top {
  height: 200px;
  width: 100px;
}

.cart-button-img {
  height: 25px;
  width: 25px;
}

.all-books-header {
  text-align: center;
  border-bottom: solid;
  font-family: 'Times New Roman', Times, serif;
}

/* Navbar */
.bookazon-title {
  color: cadetblue;
  padding-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.login-button {
  color: black;
}

.signup-button {
  color: black;
}

.logout-button {
  color: black;
}

.home-button {
  color: black;
}

.header-container {
  background-image: url('https://bhf-cdn.azureedge.net/bhf-blob-prod/0008981_willow-cream-faux-parchment-texture_600.jpeg');
}

/* Selected Book View */

.selected-book-quote {
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  font-style: italic;
  text-align: center;
}

.selected-book-container {
  text-align: center;
}

.selected-book-img-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.selected-book-img {
  height: 200px;
  width: 200px;
}

/* PostReview Form */
#review-title {
  text-align: left;
  padding: 0 10% 0 3%;
}

#submit-review-button {
  height: 70px;
  width: 150px;
}

.review-card {
  padding: 0 10% 0 3%;
  background-color: rgb(161, 241, 241);
}

/* .review-header {
  padding: 0
} */
